## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [35]:
# Dependencies
import pandas as pd
import csv
import os

In [36]:
# load CSV
new_coders_pd = os.path.join("Resources", "2016-FCC-New-Coders-Survey-Data.csv")

In [37]:
# Read with pandas
new_coders_pd = pd.read_csv(new_coders_pd, encoding = 'iso-8859-1', low_memory=False)

In [38]:
# Inspect all columns
new_coders_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [39]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)
reduced_coders_pd = new_coders_pd.iloc[:,[0,1,2,3,4,6,7,8,9,10,11,29,30,32,36, 37, 45, 48,  56, 110, 111]]
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [78]:
# Change "0" to "No" and "1" to "Yes" in response columns
# Hint use the df.replace function
reduced_coders_pd = new_coders_pd.replace({0.0:'No', 1.0:'Yes'})
new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [41]:
# Calculate total number of respondents in survey
# consider using the len() function
total_surveyed=len(new_coders_pd)
total_surveyed

15620

In [84]:
# Extract rows corresponding only to people who attended a bootcamp
# Filter using df.loc on the AttendedBootcamp column
attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"] == "Yes"]
attenders = attended_bootcamp["AttendedBootcamp"].value_counts()
attenders

Yes    953
Name: AttendedBootcamp, dtype: int64

In [51]:
# Calculate average age of attendees
# Pull out the `Age` series and take the average of it
averageage = attended_bootcamp["Age"].mean()
averageage

31.066014669926652

In [73]:
# Calculate how many attendees hold degrees
# It is easier to do this with `value_counts() count values for the SchoolDegree column
degreecount=attended_bootcamp["SchoolDegree"].count()



degreecount

832

In [12]:
degreecount=attenders["SchoolDegree"].value_counts()



degreecount

bachelor's degree                           462
some college credit, no degree              116
master's degree (non-professional)           96
professional degree (MBA, MD, JD, etc.)      39
high school diploma or equivalent (GED)      38
associate's degree                           32
trade, technical, or vocational training     24
some high school                             10
Ph.D.                                         8
no high school (secondary school)             7
Name: SchoolDegree, dtype: int64

In [74]:
# Count the number of records where the person is a degree holder
# There are several ways to approach this. You can look for people who have degrees
# or for people who don't have degrees depending on the value of the SchoolDegree column
collegecount = degreecount-38-32-24-10-7
collegecount
#"some college credit, no degree"
#"high school diploma or equivalent (GED)"
#"trade, technical, or vocational training"
#"some high school"
#"no high school (secondary school)"

721

In [56]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender=attended_bootcamp["Gender"].count()

total_gender





#malecount
#femalecount

#male_percent=(malecount/gendercount*100)

833

In [58]:
males= attended_bootcamp.loc[attended_bootcamp["Gender"]=="male"]


malecount=len(males)
malecount

496

In [59]:
females= attended_bootcamp.loc[attended_bootcamp["Gender"]=="female"]


femalecount=len(females)
femalecount

326

In [60]:
nonspecific= total_gender - malecount - femalecount 

nonspecific

11

In [82]:
# Calculate percentage of respondents who attended a bootcamp

Percentattend = round(attenders / total_surveyed * 100, 2)

Percentattend

Yes    6.1
Name: AttendedBootcamp, dtype: float64

In [69]:
# Calculate percentage of respondents belonging to each gender

percentmale = round(malecount / total_gender * 100, 2)
percentfemale = round(femalecount/total_gender * 100, 2)
percentnonspec = round(nonspecific/total_gender * 100, 2)
percentnonspec

1.32

In [81]:
# Calculate percentage of attendees with a college degree
percentdegree = round(collegecount/attenders*100, 2)
percentdegree

Yes    75.66
Name: AttendedBootcamp, dtype: float64

In [79]:
# Calculate average post-bootcamp salary

avg_salary=attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [80]:
# Create a new table consolidating above calculations
bootcamp_table = pd.DataFrame({"Total Surveyed": [total_surveyed],
                               "Total Bootcamp attendees": [numattenders],
                               "% attended bootcamp": [Percentattend],
                               "Avg. Age": [averageage],
                               "% Male:": [percentmale],
                               "% Female": [percentfemale],
                               "% Nongender Specific": [percentnonspec],
                               "% with Degree": [percentdegree],
                               "Average Salary After Bootcamp": [avg_salary]})

bootcamp_table

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Avg. Age,% Male:,% Female,% Nongender Specific,% with Degree,Average Salary After Bootcamp
0,15620,0,"Yes 6.1 Name: AttendedBootcamp, dtype: float64",31.066015,59.54,39.14,1.32,"Yes 75.66 Name: AttendedBootcamp, dtype: fl...",63740.506061

In [115]:
# Improve formatting before outputting spreadsheet

ValueError: Unknown format code 'f' for object of type 'str'

In [65]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes